*.pdf
*.csv
*.xlsx
output/
.idea/
lab12/AllImages.txt
lab12/QueryImages.txt
lab12/lab1_output/output/
lab12/lab2_output/
lab12/DataSet/
__pycache__/
lab12/lab2_result.csv
*output/
submission*